
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
</svg>
@model IEnumerable<Reservation>

@{
    ViewBag.Title = "Reservation List";
}
@if (Model != null)
{
    <div class="alert alert-success"  >
        Login Success!!<i class="bi bi-x-lg"></i>
        </div>
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}
<h2>All Reservations</h2>

<a asp-controller="Home" asp-action="Index">
    <button type="submit" class="btn btn-secondary">LogOut</button>
</a >
<table class="table table-sm table-striped table-bordered">
    <thead>
    <th>Id</th>
    <th>Name</th>

    <th>StartLocation</th>
    <th>EndLocation</th>

    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var r in Model)
            {
                <tr>
                    <td>@r.Id</td>
                    <td>@r.Name</td>
                    <td>@r.StartLocation</td>
                    <td>@r.EndLocation</td>

                </tr>
            }
        }


    </tbody>
</table>